<div class="screen-content">
  <div class="high-light">
    <h1>Bem-vindo aos mapas de mira-minde!</h1>
    <img class="start-image" src="https://th.bing.com/th/id/OIP.iGwADEOKM3ihQQaCSpY9AQHaE7?pid=ImgDet&rs=1"/>
    <p class="start-description">Explore o polge com confiança e conheça todos os pontos de interesse. (Texto exemplo
      para
      introdução das pessoas a
      esta parte do website do Mira-Minde)
      Pode ter + texto.</p>
  </div>
  <button class="button-right-icon very-wide start-go-path-button" mat-raised-button routerLink="/map">
    Passear sem escolher um caminho

    <mat-icon class="right-icon" color="dark-green">
      chevron_right
    </mat-icon>
  </button>


  <h1 class="start-title-paths">os nossos caminhos</h1>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">

    <div
      *ngFor="let num of [1,2,3,4,5,6,7]"
      fxFlex="25%"
      fxFlex.sm="33%" fxFlex.xs="50%">
      <app-start-item></app-start-item>
    </div>
  </div>
</div>
