<div class="map-header shadow">
  <div class="map-header-logo"><img src="assets/images/logo.png"/></div>
  <div class="map-header-title"> Caminho Nome big bue bue da da do este grande, mas mesmo meu! muito é</div>
  <div class="map-header-options">
    <button (click)="onFilterClick()" aria-label="Show available filters" mat-icon-button>
      <mat-icon>filter_list</mat-icon>
    </button>
    <span class="spacer"></span>
    <button aria-label="Close navigation" mat-icon-button routerLink="/">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
