/* You can add global styles to this file, and also import other style files */


html, body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

}

body {
  font-family: Ubuntu, "Helvetica Neue", sans-serif;
}


.map-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.leaflet-routing-container {
  background-color: #ECEFF1;
  padding: 1em;
}

.leaflet-popup-content {
  min-width: 50rem !important;
}

.leaflet-popup-content img {
  width: 100%;
  border: 20px solid #ff6550;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px;
  height: calc(100vh - 56px);
}

.screen-content {
  padding: 8px;
}

.content mat-card {
  width: 100%;
}


.very-wide {
  width: 100% !important;
}

.button-right-icon .mdc-button__label {
  margin-right: 10px !important;
}

.button-right-icon .right-icon {
  position: absolute !important;
  right: 0;
}


