<mat-card class="card shadow">

  <img alt="Photo of a Shiba Inu" class="item-image" mat-card-image
       src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <span class="difficulty-1">Fácil</span>
    <h1 class="item-title">Nome do Caminho</h1>
    <span class="item-info">15 km - circular - 1h30</span>
  </mat-card-content>
  <mat-card-actions class="align-right">
    <button class="link-green-button" mat-button routerLink="path-info">ver mais</button>
  </mat-card-actions>
</mat-card>
